body{
  background: url(../images/hex-red.jpg)top center repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  font-family: 'Abel', sans-serif;
  color: #d50000;
  text-shadow: 2px 2px rgb(62, 11, 10);
  text-align: center;
  font-size: 45px!important;
}

p {
    background-color: #222;
    width: 525px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 432px;
    text-align: center;
    border: 5px solid #931b18;
    border-style: outset;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.row{
  width: 100%;
}
